/* Base */
body {
    background: #fff;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    margin: 0;
   
}



*,
*::before,
*::after {
    box-sizing: border-box;
}


  
/* Container */
.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

/* Intro */
.index_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url("/assets/images/обои-красивые-картинки-Майк-Митчелл-Mike-Mitchell-714070.jpeg") center no-repeat;
    background-size:cover;
}

.main_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url("/assets/images/fight_club.jpeg") center no-repeat;
    background-size: cover;
    transition: background .7s linear;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url("/assets/images/1614277856_49-p-chernii-fon-dlya-vizitki-57.jpg") center no-repeat;
    background-size: cover;
}

.news_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: url("/assets/images/1614277856_49-p-chernii-fon-dlya-vizitki-57.jpg") center no-repeat;
    background-size: cover;
}

.intro_inner {
    padding-left: 10px;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
}

.intro_title {
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
}

.info_title {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    line-height: 1; 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Header */
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header--fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #333;

    padding-top: 10px;
    transform: translate3d(0, 0, 0);
}

.header_logo {
    padding-left: 40px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/* Footer */
.footer {
    background-color: #fff;
    display: flex;
    justify-content: right;
    max-width: 1200px;
    margin: 0 auto;
    font-style: oblique;
}

.submit-button {
    display: inline-block;
    padding: 7px 12px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3E8E41;
}

.submit-button:active {
    background-color: #2E7D32;
    transform: scale(0.95);
}

.email-label {
    display: inline-block;
    padding: 7px 12px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

.subscribe-form {
    margin: 20px 5%;
}

/* Header-navigation */
.nav {
    padding-right: 20px;
    font-size: 14px;
    text-transform: uppercase;
}

/* nav and nav_link for burger menu
.nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
}

.nav_link {
    display: block;
    margin: 0;
    padding: 8px 20px;
}
*/

.nav_link {
    color: #fff;
    text-decoration: none;
    vertical-align: top;
    margin: 0 15px;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link.active {
    opacity: 1;
    color: #fce38a;

}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav toggle */
.nav_toggle {
    width: 30px;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    display: none;
    border: 0;
    background: none;
    cursor: pointer;
}

.nav_toggle_item {
    width: 100%;
    height: 3px;
    display: block;
    background-color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;

}

.nav_toggle_item:before,
.nav_toggle_item:after {
 content: " ";
 width: 100%;
 height: 3px;
background-color: #fff;
 position: absolute;
 z-index: 1;
 left: 0;
 transition: transform .2s linear;

}

.nav_toggle_item:before {
    top: -8px;
}

.nav_toggle_item::after {
    bottom: -8px;
}

.nav_toggle.active .nav_toggle_item {
    background: none;
}

.nav_toggle.active .nav_toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0);
}   

.nav_toggle.active .nav_toggle_item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
} 

/* Button */
.btn {
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    padding: 8px 25px;
    border: 3px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;

    transition: background .2s linear;
    transition: color .2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/* Slider */
.slider {
    margin: 0 0 10px 0;

    display: flex;
    justify-content: space-between;
}

.slider_item.active {
    font-size: 22px;
    opacity: 1;
}

.slider_item {
    width: 23% ;
    opacity: .8;
    padding: 20px 0;
    font-size: 18px;
    border-bottom: 3px solid #fff;
    color: #fff;
    transition: font-size .3s linear;
}

.slider_num {
    font-size: 24px;
    font-weight: 700;
}

.slider_img {
    margin: 0 0 -80px 65px;
    width: 1080px;
    height: 480px
} 

/* Section */
.section {
    padding: 80px 0;
    margin-top: auto;
}

.section_header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;

}

.section_title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    
}

.section_title::after {
    content: "";
    display: block;
    width: 250px;
    height: 3px;
    margin: 0 auto;
    background-color: #4CAF50;
}

.section_text {
    font-size: 18px;
    color: #fff;
}

/* Statistics */
.statistics {
    background-color: #3E8E41;
    margin-top: auto;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat_item {
    flex: 1 1 0;
    padding: 50px 25px;
    border-left: 1px solid #999;

    text-align: center;
    color: #fff;
}

.stat_item:last-child {
    border-right: 1px solid #999;
}

.stat_numb {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.stat_text {
    font-size: 14px;
}

/* Chat-bot */
.chat-bot {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.chat-window {

}

.chat-input {
    
}

.question_button {
    background-color: #4CAF50;
    color: #333;
    cursor: pointer;
    width: 100%;
    height: 60px;
    text-align: left;
    border: 2px solid;
    border-radius: 3px;
    font-size: 20px;
    outline: none;
}

.question_button:hover {
    background-color: #3E8E41;
}

.answer {
    padding: 0 16px;
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height .2s ease-out;
    background-color: #f1f1f1;
}

/* News */
.news {
    display: flex;
    justify-content: space-between;
}

.news_item {
    width: 30%;

}

.news_header {
    margin-bottom: 10px;
    position: relative;
}

.news_photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.news_date {
    padding: 0 5px;
    background-color: #2E7D32;
    font-size: 15px;
    font-style: italic;
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
}

.news_date-day {
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}

.news_title {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
}

.news_title a {
    color: inherit;
    text-decoration: none;

}

.news_title a:hover {
    text-decoration: underline;
}

.news_text {
    font-size: 14px;
    color: #999;
}

.news_footer {
    padding-top: 14px;
    border-top: 1px solid #999;
    display: flex;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.news_footer-stat {
    margin-left: 10px;
}

/* Media */
@media (max-width: 1230px) {
    /* Intro */
    .intro_title {
        font-size: 48px;
    }

    /* Navigation */
    .nav_toggle {
        display: none;
    }

    /* Slider */
    .slider_item {
        font-size: 16px;
    }
    .slider_item.active {
        font-size: 18px;
    }

    /* Footer */
    .submit-button {
        font-size: 9px;
    }
    .email-label {
        font-size: 9px;
    }
    .row {
        font-size: 9px;
    }
  }
@media (max-width: 990px) {
    /* Intro */
    .intro_title {
        font-size: 40px;
    }

    /* Navigation */
    .nav_toggle {
        display: none;
    }

    /* Statistics */
    .stat {
        justify-content: center;
    }
    .stat_item {
        flex: none;
        width: 33.33333%;
        border: 0;
        padding: 30px 0;
    }
    .stat_item:last-child {
        border-right: 0;
    }
    
    /* Footer */
    .copy {
        font-size: 12px;
    }
    .row {
        font-size: 12px;
    }
    .email-label {
        font-size: 10px ;
    }
    .submit-button {
        font-size: 10px;
    }
  }
@media (max-width: 770px) {
    /* Intro */
    .intro_title {
        font-size: 32px;
    }

    /* Navigation */
    .nav .nav_link {
        display: none;
    }
    
    .nav_toggle {
        display: block;
    }

    

    /* Slider */
    .slider_num.slider_item {
        border-bottom: none;
    }
    .slider_item.active {
        font-size: 18px;
    }

    /* Info */
    .section_text {
        font-size: 14px;
    }

    /* Footer */
    .copy {
        font-size: 10px;
    }
    .row {
        font-size: 8px;
    }
    .email-label {
        font-size: 8px ;
    }
    .submit-button {
        font-size: 8px;
    }
  }
@media (max-width: 575px) {
    /* Intro */
    .intro_title {
        font-size: 24px;
    }

    /* Navigation */
    .nav .nav_link {
        display: none;
    }
    .header_logo{
        font-size: 24px;
        padding-left: 5px;
    }

    /* Slider */
    .slider_item {
        font-size: 8px;
    }
    .slider_item.active {
        font-size: 9px;
    }
    .slider_num.slider_item {
        font-size: 8px;
        border-bottom: none;
    }

    /* News */
    .news_date{
        font-size: 10px;
    }
    .news_date-day{
        font-size: 10px;
    }
    .news_item {
        width: 90%;
        padding: auto;
        margin: 20px 0 20px 0; 
    }
    .news {
        flex-direction: column; 
    }
    .news_intro {
        height: 180vh;
    }
    .section_header {
        margin-top: 15vh;
    }

    /* Info */
    .section_text {
        font-size: 12px;
    }
    .section_title {
        font-size: 20px;
    }
    .section {
        padding: 40px 0;
    }
    .info_title {
        font-size: 16px;
    }

    /* Question */
    .question_button {
        font-size: 16px;
    }
    .answer {
        font-size: 16px;
    }
    .intro {
        height: 130vh;
    }

    /* Statistics */
    .stat_item {
        width: 100%;
        border-bottom: 1px solid #999;
    }
    .stat_item:last-child {
        border-bottom: 0;
    }
    .stat_numb {
        font-size: 26px;
    }
    
    /* Footer */
    .copy {
        font-size: 8px;
    }
    .row {
        font-size: 8px;
        flex-direction: row;
    }
    .email-label {
        font-size: 5px ;
    }
    .submit-button {
        font-size: 4px;
        margin-top: 5px;
    }
  }